<!--
	Author: Ducarmel Zephyr
	Student ID: 301178658
  filename: views/index.ejs 
  Midterm 
-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
